html {
	font-family: 'PT sans', sans-serif;
	color: #2F343F;
}

.container {
	height: 50px;
	padding-bottom: 20px;
	text-align: right;
}

.container>p {
	font-size: 21px;
}

#left {
	width: 500px;
	float: left;
	display: inline;
   	padding-left: 15px; 
	padding-bottom: 5px;
}

#right {
	float: right;
	display: inline;
	margin-right: 40px;
}

#locc {
	font-size: 30px;
	vertical-align: text-top;
	height: 80px;
	margin: 10px;
}

p#loc {
	margin-top: 10px;
}

#temp_sec {
	font-size: 80px; 
	text-align: center; 
	vertical-align: baseline; 
	padding-left: 20px;
}
